# folders
/tests

# docker configuration files
Dockerfile
docker-compose.yml

# environments
.env
.env.example

# git
.gitignore
.git

# packages
poetry.lock
pyproject.toml

# scripts
integrate.sh

# other
LICENSE
README.md
